.underline{
  text-decoration: none;
  position: relative;

$thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;

  &:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: $thetransition;
  transition: $thetransition;
  }
  &:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  }

}
