<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Csaba's Portfolio</title>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/bootstrap/js/bootstrap.min.js">
  <link rel="stylesheet" href="/public/bootstrap/js/jquery-3.4.1.slim.min.js">
  <link rel="stylesheet" href="/public/bootstrap/js/popper.min.js">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/fontawesome-5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/public/fontawesome-5.12.1/js/all.min.js">
  <link rel="stylesheet" href="/public/custom/custom.css">
  <link rel="stylesheet" href="/public/custom/fontload.css">
  <link rel="stylesheet" href="/public/custom/triangle.css">
  <link rel="stylesheet" href="/public/custom/underline.css">
  <link rel="stylesheet" href="/public/custom/contact.css">
  
</head>
<body class="main-background hcb">

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg text-center justify-content-center pb-0">
    <div class="navbar-nav navbarwidth m-2 pb-4">
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/index.html"><span class="textcolor text-rotate underline">> About Me <</About></span><span class="sr-only">(current)</span></a>
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/artworks.html"><span class="textcolor text-rotate underline">> Artworks <</span></a>
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/school.html"><span class="textcolor text-rotate underline">> School <</span></a>
      <!-- <a class="nav-item"> <img class="logosize" src="/public/img/logo.png" alt=""></a> -->
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/skills.html"><span class="textcolor text-rotate underline">> Skills <</span></a>
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/contact.html"><span class="textcolor text-rotate underline">> Contact <</span></a>
    </div>
  </nav>


  <!-- MAIN -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="font5">
          Contact me
        </div> 
        
        <div class="row p-2">
          <div class="col-3"></div>
          <div class="col-6">
            <form>
              <div class="form-group text-center font8">
                <input type="text" class="form-control" placeholder="YOUR   NAME">              
              </div>
                <div class="form-group text-center font8">
                  <input type="email" class="form-control" placeholder="YOUR  EMAIL">
                </div>
                <div class="form-group text-center font8">
                  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="YOUR  MESSEAGE" rows="3"></textarea>
                </div>
                <div class="text-center">
                  
                  <a type="submit" class="nav-item navbarsizefix font1 navbarwidth p-2"><span class="textcolor text-rotate underline">Submit</span></a>
                </div>
              </form>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row p-2">
            <div class="col-3 text-right"><i class="fas fa-phone fa-3x"></i></div>
            <div class="col-3 font8 text-left align-self-center">Phone</div>
            <div class="col-6 font8 text-left align-self-center">+31 6 51 43 49 40</div>
          </div>
          <div class="row p-2">
            <div class="col-3 text-right"><i class="far fa-envelope fa-3x"></i></div>
            <div class="col-3 font8 text-left align-self-center">Email</div>
            <div class="col-6 font8 text-left align-self-center">csabavk@outlook.com</div>
          </div>
          <div class="row p-2">
            <div class="col-3 text-right"><i class="fas fa-map-marked-alt fa-3x"></i></div>
            <div class="col-3 font8 text-left align-self-center">Location</div>
            <div class="col-6 font8 text-left align-self-center">The Hague, Netherlands</div>
          </div>
      </div>

      <div class="col-md-5">
        <img class="contactbg" src="/public/img/profpic/1.jpg" alt="">

      </div>
    </div>
  </div>

  <class class="footer fixed-bottom">
    <div class="font5 text-right pl-4">
      <div class="pr-4">
        Im Social!
      </div>
      <div class="pr-3 pb-3">
        <a target="_blank" href="https://www.facebook.com/csaba.garaguly.vk"><img class="pic4" src="/public/img/contacticons/facebook.png" alt=""></a>
        <a target="_blank" href="https://www.instagram.com/csabavk/"><img class="pic4" src="/public/img/contacticons/instagram.png" alt=""></a>
        <a target="_blank" href="https://github.com/CsabaVK"><img class="pic4" src="/public/img/contacticons/github.png" alt=""></a>
        <a target="_blank" href="https://www.linkedin.com/in/csaba-garaguly-296713205/"><img class="pic4" src="/public/img/contacticons/linkedin.png" alt=""></a>
        <a data-toggle="tooltip" data-placement="top" title="csabavk"><img class="pic4" src="/public/img/contacticons/snapchat.png" alt=""></a>
        <a data-toggle="tooltip" data-placement="top" title="+31 6 51 43 49 40"><img class="pic4" src="/public/img/contacticons/whatsapp.png" alt=""></a>
      </div>

    </div> 
    

  </div>

  

</body>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
</html>