<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Csaba's Portfolio</title>
  <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/bootstrap/js/bootstrap.min.js">
  <link rel="stylesheet" href="/public/bootstrap/js/jquery-3.4.1.slim.min.js">
  <link rel="stylesheet" href="/public/bootstrap/js/popper.min.js">
  <link rel="stylesheet" href="/public/fontawesome-5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/public/fontawesome-5.12.1/js/all.min.js">
  <link rel="stylesheet" href="/public/custom/custom.css">
  <link rel="stylesheet" href="/public/custom/fontload.css">
  <link rel="stylesheet" href="/public/custom/triangle.css">
  <link rel="stylesheet" href="/public/custom/underline.css">
</head>
<body class="main-background hcb">

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg text-center justify-content-center pb-0">
    <div class="navbar-nav navbarwidth m-2 pb-4">
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/index.html"><span class="textcolor text-rotate underline">> About Me <</About></span><span class="sr-only">(current)</span></a>
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/artworks.html"><span class="textcolor text-rotate underline">> Artworks <</span></a>
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/school.html"><span class="textcolor text-rotate underline">> School <</span></a>
      <!-- <a class="nav-item"> <img class="logosize" src="/public/img/logo.png" alt=""></a> -->
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/skills.html"><span class="textcolor text-rotate underline">> Skills <</span></a>
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/contact.html"><span class="textcolor text-rotate underline">> Contact <</span></a>
    </div>
  </nav>

  <!-- MAIN -->
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-5">
        <div class="font2 text-rtitle text-center">Csaba</div>
        <div class="font2 text-rtitle ">Garaguly</div>
        <div class="text-center">
          <img src="/public/img/profpic.png" alt="" class="mimg mt-5">
        </div>
      </div>
      

      <div class="col-md-7">

        <div class="row pt-3">
          <div class="col-md-3">
            <div class="center-arrow"><div class="center-arrow-white"></div></div>
          </div>
          <div class="col-md-3">
            <div class="center-arrow"><div class="center-arrow-white"></div></div>
          </div>
          <div class="col-md-3">
            <div class="center-arrow"><div class="center-arrow-white"></div></div>
          </div>
          <div class="col-md-3">
            <div class="center-arrow"><div class="center-arrow-white"></div></div>
          </div>
        </div>

        <div class="row pt-5 pb-5 mt-5 mb-5">
          <div class="col-md-3">
            <div class="center-arrow"><div class="center-arrow-white"></div></div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="font3 text-rtitle align-middle">BE UNIQUE</div>
          
            
          </div>
          <div class="col-md-3">
            <div class="center-arrow"><div class="center-arrow-white"></div></div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3">
            <div class="center-arrow"><div class="center-arrow-white"></div></div>
          </div>
          <div class="col-md-3">
            <div class="center-arrow"><div class="center-arrow-white"></div></div>
          </div>
          <div class="col-md-3">
            <div class="center-arrow"><div class="center-arrow-white"></div></div>
          </div>
          <div class="col-md-3">
            <div class="center-arrow"><div class="center-arrow-white"></div></div>
          </div>
        </div>

        
      </div>
      
    </div>
  </div>

  <div class="container-fluid home-main text-center pt-4">
    <div class="row">

    
    <div class="col-5">
      <p class="font4">
        General
      </p>
      <div class="row p-2">
        <div class="col-3"><i class="far fa-user-circle fa-3x"></i></div>
        <div class="col-9 font8">20 years old</div>
      </div>
      <div class="row p-2">
        <div class="col-3 align-self-center">
          <img class="flagicon" src="/public/img/usaic.png" alt="">
          <img class="flagicon" src="/public/img/hunic.png" alt="">
        </div>
        <div class="col-9 font8">ENG, HUN</div>
      </div>
      <div class="row p-2">
        <div class="col-3"><i class="fas fa-graduation-cap fa-3x"></i></div>
        <div class="col-9 font8">UX Student</div>
      </div>
      <div class="row p-2">
        <div class="col-3"><i class="fas fa-baby fa-3x"></i></div>
        <div class="col-9 font8">Budapest</div>
      </div>
      <div class="row p-2">
        <div class="col-3"><i class="fas fa-home fa-3x"></i></div>
        <div class="col-9 font8">The Hague</div>
      </div>
      <div class="row">
        <div class="col-3"><i class="fas fa-male fa-3x"></i></div>
        <div class="col-9 font8">Male</div>
      </div>

      <p class="font4 mt-2">
        Education
      </p>
      <div class="row p-2">
        <div class="col-5 font8">2006 - 2014</i></div>
        <div class="col-5 font8spec1">IT</div>
        <div class="col-2"><i class="fas fa-school fa-3x"></i></div>
      </div>
      <div class="row p-2">
        <div class="col-5 font8">2014 - 2020</i></div>
        <div class="col-5 font8spec1">Programming</div>
        <div class="col-2"><i class="fas fa-chalkboard fa-3x"></i></div>
      </div>
      <div class="row p-2">
        <div class="col-5 font8">2020 - Present</div>
        <div class="col-5 font8spec1">UX Design</div>
        <div class="col-2"><i class="fas fa-graduation-cap fa-3x"></i></i></div>
      </div>

    </div>

    <div class="col-7 p-4">
      <p class="font4">
        Hey there! I'm Csaba!
      </p>
      <div class="row">
        <div class="col-3 pr-0">
          <img class="pic1" src="/public/img/profpic/1.jpg" alt="">
        </div>
        <div class="col-9 align-self-center pl-0">
          <p class="font7spec1">
            Im a UX Designer, based in a beautiful city Den Haag.
            I assume you wanna know more about me, so I'll tell you my story
          </p>
        </div>

        <div class="row pt-3 pb-3">
          <div class="col-9 align-self-center pr-0">
            <p class="font7spec2 align-self-center mb-0">
              Since I was little, I was always interested in design. Long before I was able to study UX desgin
              in school, I tried to self-educate myself. I could say I ended up with a pretty good result, while
              in middle school I learned programming, and combining these two, I might be able to help you!
            </p>
          </div>
          <div class="col-3 pl-0 align-self-center">
            <img class="pic2" src="/public/img/profpic/3.jpg" alt="">
          </div>
        </div>

        <div class="row">
          <div class="col-3 align-self-center pr-0">
            <img class="pic3" src="/public/img/profpic/2.jpg" alt="">
          </div>
          <div class="col-9">
            <p class="font7spec1 align-self-center mb-0">
              I care about the details and consider the motion design of affordances to be crucial in creating effective,
              intuitive interfaces. I like prototyping - it helps me think through interaction models and new possibilites.
            </p>
          </div>
        </div>

      </div>

    </div>
    </div>
      


</body>
</html>