<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Csaba's Portfolio</title>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/bootstrap/js/bootstrap.min.js">
  <link rel="stylesheet" href="/public/bootstrap/js/jquery-3.4.1.slim.min.js">
  <link rel="stylesheet" href="/public/bootstrap/js/popper.min.js">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/fontawesome-5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/public/fontawesome-5.12.1/js/all.min.js">
  <link rel="stylesheet" href="/public/custom/custom.css">
  <link rel="stylesheet" href="/public/custom/fontload.css">
  <link rel="stylesheet" href="/public/custom/triangle.css">
  <link rel="stylesheet" href="/public/custom/underline.css">
  
</head>
<body class="main-background hcb">

  <!-- NAVBAR -->
  <div class="decornav"></div>
  <div class="navbar navbar-default fixed-top">
    <img class="logoprop" id="logo" src="/public/img/logo/1.png" alt="">
  </div>
  <nav class="navbar navbar-expand-lg text-center justify-content-center pb-0">
    <div class="navbar-nav navbarwidth m-2 pb-4">
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/index.html"><span class="textcolor text-rotate underline">> About Me <</About></span><span class="sr-only">(current)</span></a>
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/artworks.html"><span class="textcolor text-rotate underline">> Artworks <</span></a>
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/school.html"><span class="textcolor text-rotate underline">> School <</span></a>
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/skills.html"><span class="textcolor text-rotate underline">> Skills <</span></a>
      <a class="nav-item navbarsizefix font1 navbarwidth p-2" href="/views/contact.html"><span class="textcolor text-rotate underline">> Contact <</span></a>
    </div>
  </nav>


  <!-- MAIN -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 m-border-left">

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/psicon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Adobe Photoshop
          </div>
          <div class="col-2 font4">
            5/5
          </div>
          <div class="col-3 font6 align-self-center">
            7 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/aeicon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            After Effect
          </div>
          <div class="col-2 font4">
            3/5
          </div>
          <div class="col-3 font6 align-self-center">
            2 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/aiicon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Adobe Illustrator
          </div>
          <div class="col-2 font4">
            2/5
          </div>
          <div class="col-3 font6 align-self-center">
            1 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/pricon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Premier Pro
          </div>
          <div class="col-2 font4">
            4/5
          </div>
          <div class="col-3 font6 align-self-center">
            3 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/xdicon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Adobe XD
          </div>
          <div class="col-2 font4">
            3/5
          </div>
          <div class="col-3 font6 align-self-center">
            >1 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/lricon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Lightroom
          </div>
          <div class="col-2 font4">
            4/5
          </div>
          <div class="col-3 font6 align-self-center">
            2 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/htmlicon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Html & Css
          </div>
          <div class="col-2 font4">
            4/5
          </div>
          <div class="col-3 font6 align-self-center">
            6 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/jsicon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Javascript
          </div>
          <div class="col-2 font4">
            4/5
          </div>
          <div class="col-3 font6 align-self-center">
            3 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/tsicon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Typescript
          </div>
          <div class="col-2 font4">
            2/5
          </div>
          <div class="col-3 font6 align-self-center">
            1 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/nodejs.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            NodeJS
          </div>
          <div class="col-2 font4">
            4/5
          </div>
          <div class="col-3 font6 align-self-center">
            >2 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/phpicon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            PHP
          </div>
          <div class="col-2 font4">
            2/5
          </div>
          <div class="col-3 font6 align-self-center">
            2 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/cicon.svg" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            C#
          </div>
          <div class="col-2 font4">
            4/5
          </div>
          <div class="col-3 font6 align-self-center">
            5 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/linuxicon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Linux
          </div>
          <div class="col-2 font4">
            1/5
          </div>
          <div class="col-3 font6 align-self-center">
            >1 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/javaicon.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Java
          </div>
          <div class="col-2 font4">
            4/5
          </div>
          <div class="col-3 font6 align-self-center">
            3 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/sql.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            SQL
          </div>
          <div class="col-2 font4">
            3/5
          </div>
          <div class="col-3 font6 align-self-center">
            2 year
          </div>
        </div>

        <div class="row justify-content-center p-3">
          <div class="col-2 text-right">
            <img class="iconsize" src="/public/img/icons/sass.png" alt="">
          </div>
          <div class="col-5 font6 align-self-center">
            Sass/scss
          </div>
          <div class="col-2 font4">
            2/5
          </div>
          <div class="col-3 font6 align-self-center">
            >1 year
          </div>
        </div>

      </div>

      <div class="col-md-5 m-border-right">
        <div class="row justify-content-center p-3 font5">
          
          What can I offer?
        </div>

        <div class="row d-flex justify-content-center mb-4">
          <div class="col-2 text-center">
            <i class="far fa-window-restore fa-3x"></i>
          </div>
          <div class="col-10 font6 text-left">
            Wireframing
          </div>
        </div>

        <div class="row d-flex justify-content-center mb-4">
          <div class="col-2 text-center">
            <i class="fas fa-microphone-alt fa-3x"></i>
          </div>
          <div class="col-10 font6 text-left">
            Interviewing user
          </div>
        </div>

        <div class="row d-flex justify-content-center mb-4">
          <div class="col-2 text-center">
            <i class="fas fa-pencil-ruler fa-3x"></i>
          </div>
          <div class="col-10 font6 text-left">
            Interface sketching on paper
          </div>
        </div>

        <div class="row d-flex justify-content-center mb-4">
          <div class="col-2 text-center">
            <i class="fas fa-atom fa-3x"></i>
          </div>
          <div class="col-10 font6 text-left">
            Interactive prototyping
          </div>
        </div>

        <div class="row d-flex justify-content-center mb-4">
          <div class="col-2 text-center">
            <i class="fas fa-user-edit fa-3x"></i>
          </div>
          <div class="col-10 font6 text-left">
            User testing
          </div>
        </div>

        <div class="row d-flex justify-content-center mb-4">
          <div class="col-2 text-center">
            <i class="fas fa-chart-bar fa-3x"></i>
          </div>
          <div class="col-10 font6 text-left">
            Analyze your problem
          </div>
        </div>
        
        <div class="row d-flex justify-content-center mb-4">
          <div class="col-2 text-center">
            <i class="fas fa-users fa-3x"></i>
          </div>
          <div class="col-10 font6 text-left">
            Work with a design team
          </div>
        </div>

        <div class="row justify-content-center font5">
          Moodboard
        </div>
        <!-- FIRST SHOWCASE -->
        <div class="justify-content-center align-self-center">
          <div class="ml-4 mr-3">
            <img class="rect6" src="/public/img/Moodboard.png">
          </div>
        </div>

        <div class="row justify-content-center font5 pt-3">
          Work Experience
        </div>
        <div class="row justify-content-center font5spec1 pt-0 pb-3">
          (Releated to IT)
        </div>

        <div class="row p-1">
          <div class="col-4 font5spec1">
            2014
          </div>
          <div class="col-8 font5spec1">
            Data Managment
          </div>
          <div class="col-4 font5spec1">
            2015
          </div>
          <div class="col-8 font5spec1">
            Data Managment
          </div>
          <div class="col-4 font5spec1">
            2016
          </div>
          <div class="col-8 font5spec1">
            Programming
          </div>
        </div>
        
        <!-- END OF FIRST SHOWCASE -->


      </div>

    </div>
  </div>


</body>
<script src="/public/custom/logochanger.js"></script>
</html>