<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Csaba's Portfolio</title>
  <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/bootstrap/js/bootstrap.min.js">
  <link rel="stylesheet" href="/public/bootstrap/js/jquery-3.4.1.slim.min.js">
  <link rel="stylesheet" href="/public/bootstrap/js/popper.min.js">
  <link rel="stylesheet" href="/public/fontawesome-5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/public/fontawesome-5.12.1/js/all.min.js">
  <link rel="stylesheet" href="/public/custom/custom.css">
  <link rel="stylesheet" href="/public/custom/fontload.css">
  <link rel="stylesheet" href="/public/custom/triangle.css">
  <link rel="stylesheet" href="/public/custom/underline.css">
</head>
<body class="main-background hcb">
<nav class="navbar navbar-expand-lg navbar-dark bg-black dp-block">
  <div class="navbar-nav nav-pills nav-fill m-2">
    <a class="nav-item navbarsizefix nav-link btn btn-outline-secondary mr-sm-2 font1 color-btn" href="/views/index.html"><span class="color-text text-rotate">About Me</span><span class="sr-only">(current)</span></a>
    <a class="nav-item navbarsizefix nav-link btn btn-outline-secondary mr-sm-2 ml-sm-2 font1 color-btn active" href="/views/artworks.html"><span class="color-text text-rotate">Artworks</span></a>
    <a class="nav-item"> <img src="/public/img/test.png" alt=""></a>
    <a class="nav-item navbarsizefix btn btn-outline-secondary mr-sm-2 ml-sm-2 font1 color-btn" href="/views/skills.html"><span class="color-text text-rotate">Skills</span></a>
    <a class="nav-item navbarsizefix btn btn-outline-secondary ml-sm-2 font1 color-btn"><span class="color-text text-rotate">Contact</span></a>
  </div>
</nav>
</body>